[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.11.0"
pandas = "*"
streamlit-ace = "*"
matplotlib = "*"
streamlit-aggrid = {editable = true, ref = "main", git = "https://github.com/UFO-101/streamlit-aggrid.git"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
