[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.11.0"
pandas = "*"
streamlit-ace = "*"
tqdm = "*"
sgfmill = "*"
matplotlib = "*"
pyzmq = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
