[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.11.1"
pandas = "*"
streamlit-ace = "*"
matplotlib = "*"
watchdog = "*"
dtale = {editable = true, ref = "master", git = "https://github.com/UFO-101/dtale.git"}
plotly = "*"
statsmodels = "*"
tbparse = "*"

[dev-packages]
black = "*"
pytest = "*"
selenium = "*"

[requires]
python_version = "3.10"
