-e ./../go_attack_utils

# For Jupyter notebooks
ipykernel

# tbparse stuff
tbparse
tensorboard
tensorflow

# Libs needed by KataGo
psutil
scipy

# Computational libraries
numpy
pandas

# Plotting
matplotlib
seaborn
statsmodels

# Utilities
black
flake8
isort
ipywidgets
jupyterlab
mypy
tqdm
