je ./../go_attack_utils

# For Jupyter notebooks
ipykernel

# Libs needed by submodules/KataGo-pytorch-rewrite
torch==1.13.1
packaging==22.0

# For measuring FLOPs of models
ptflops
thop

# tbparse stuff
tbparse
tensorboard
tensorflow

# Libs needed by KataGo
psutil
scipy

# Computational libraries
numpy
pandas

# To parse Go game SGF files
sgfmill

# Plotting
matplotlib
seaborn
statsmodels

natsort

# Utilities
beautifulsoup4
black
flake8
GitPython
isort
# ipywidget
jupyter
mypy
