:root {
  /* FAR branding colors */
  --light-gray: #e0e8e8;
  --deep-navy: #071024;
  --dark-green: #389472;
  --mid-gray: #cedbdb;
  --green: #6cd5a4;

  --bs-heading-color: var(--deep-navy);
  --bs-body-bg: var(--light-gray);
  --bs-body-bg-rgb: 224, 232, 232;
}

@font-face {
    font-family: "Klarheit";
    font-weight: normal;
    src: url('/fonts/ESKlarheitGrotesk-Rg.woff2') format('woff2');
}

@font-face {
    font-family: "Klarheit";
    font-weight: 600;
    src: url('/fonts/ESKlarheitGrotesk-Smbd.woff2') format('woff2');
}

html {
  color-scheme: light dark;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Klarheit", Hanken Grotesk, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: var(--deep-navy);
  line-height: 1.4em;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: bold;
  color: var(--dark-green);
  text-decoration: inherit;
}

a:hover {
  color: var(--green);
}

/* Bootstrap removes some CSS for <a> tags no href and no class. Add this
 * class to non-href <a> tags that should still be clickable.
 */
.clickable {
  cursor: pointer;
}

/* Add additional margin to the scroll location of an anchor or table-of-contents link. */
h1, h2, h3, h4, h5, h6, :target {
  scroll-margin-top: 1em;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--green);
  --bs-dropdown-link-active-color: var(--deep-navy);
}

/* sanitize has a CSS rule adding a ::before pseudo-element to nav list items:
 * https://github.com/csstools/sanitize.css/blob/092d0d85922bfa72d28e9e8d25d80a5437c8df44/sanitize.css#L98-L105
 * This is to fix a macOS VoiceOver issue. The pseudo-element is visible,
 * however, in dropdown menus, adding unwanted height.
 * Here we remove the pseudo-element. It should no longer be necessary due to
 * fixes in how VoiceOver handles nav lists---see the Jan 2023 note on
 * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html.
*/
nav .dropdown-menu li::before {
  content: none;
}
