:root {
  /* FAR branding colors */
  --near-white: #f7f7f7;
  --medium-accent-color: #009999;
  --light-accent-color: #d9d9d9;
  --dark-accent-color: #226666;
  --logo-color: #46cdcf;

  --accent-color-1: var(--dark-accent-color);
  --accent-color-2: var(--medium-accent-color);
  --accent-color-3: var(--near-white);
  --link-hover-color: var(--logo-color);

  --bs-body-bg: var(--near-white);
  --bs-body-bg-rgb: 247, 247, 247;
}

html {
  color-scheme: light dark;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: bold;
  color: var(--medium-accent-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

/* Bootstrap removes some CSS for <a> tags no href and no class. Add this
 * class to non-href <a> tags that should still be clickable.
 */
.clickable {
  cursor: pointer;
}

/* Add additional margin to the scroll location of an anchor or table-of-contents link. */
h1, h2, h3, h4, h5, h6, :target {
  scroll-margin-top: 1em;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--medium-accent-color);
}

/* sanitize has a CSS rule adding a ::before pseudo-element to nav list items:
 * https://github.com/csstools/sanitize.css/blob/092d0d85922bfa72d28e9e8d25d80a5437c8df44/sanitize.css#L98-L105
 * This is to fix a macOS VoiceOver issue. The pseudo-element is visible,
 * however, in dropdown menus, adding unwanted height.
 * Here we remove the pseudo-element. It should no longer be necessary due to
 * fixes in how VoiceOver handles nav lists---see the Jan 2023 note on
 * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html.
*/
nav .dropdown-menu li::before {
  content: none;
}
